* {
  box-sizing: border-box;
}

body {
  background-color: #ececec;
  font-family: 'Roboto', sans-serif;
}

#game-container {
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #303841;
  font-size: 3rem;
  text-transform: uppercase;
}

#game-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding: 20px 20px;
}

#player1 {
  background-color: #00adb5;
  /* color: #fff; */
  padding: 24px 12px;
  border-radius: 20px;
}

#player2 {
  background-color: #ff5722;
  /* color: #fff; */
  padding: 24px 12px;
  border-radius: 20px;
}

.active-player {
  color: #ffd31d;
  font-weight: 700;
}

button {
  cursor: pointer;
  background-color: #303841;
  border: 2px solid #303841;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 12px;
  margin-top: 12px;
}

button:hover {
  color: #303841;
  background-color: #f1e7b6;
  border: 2px solid #303841;
}

/* game board table */

div#game {
  display: flex;
  align-items: center;
  justify-content: center;
}

#board td {
  width: 65px;
  height: 65px;
  border: solid 2px #303841;
  border-radius: 5%;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* COMPLETE - TODO: make into circles */
  border-radius: 50%;
  margin: 5px;
  width: 80%;
  height: 80%;
}

/* COMPLETE - TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background-color: #00adb5;
}

.p2 {
  background-color: #ff5722;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 2px #dbdbdb;
}

#column-top td:hover {
  background-color: #f1e7b6;
}