* {
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 244, 247);
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #00bdaa;
  font-size: 2.8rem;
  text-transform: uppercase;
}

#game-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#player1 {
  background-color: #400082;
  color: #fff;
  padding: 12px 12px;
  border-radius: 20px;
}

#player2 {
  background-color: #fe346e;
  color: #fff;
  padding: 12px 12px;
  border-radius: 20px;
}

.active-player {
  border: 8px solid gold;
}

button {
  cursor: pointer;
  background-color: rgb(140, 167, 45);
  border: 2px solid rgb(140, 167, 45);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 12px;
  margin-top: 12px;
}

button:hover {
  background-color: #f1e7b6;
  border: 2px solid #f1e7b6;
}

/* game board table */

div#game {
  display: flex;
  align-items: center;
  justify-content: center;
}

#board td {
  width: 65px;
  height: 65px;
  border: solid 2px #00bdaa;
  border-radius: 5%;
}

#player1 {
  
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* COMPLETE - TODO: make into circles */
  border-radius: 50%;
  margin: 5px;
  width: 80%;
  height: 80%;
}

/* COMPLETE - TODO: make pieces red/blue,  depending on player 1/2 piece */
.p1 {
  background-color: #400082;
}

.p2 {
  background-color: #fe346e
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 2px lightgray;
}

#column-top td:hover {
  background-color: #f1e7b6;
}